version: "3.9"

services:
  db:
    image: postgres:16
    restart: always
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build: .
    command: uvicorn src.main:app --host ${WEB_HOST} --port ${WEB_PORT} --reload
    ports:
      - "${WEB_PORT}:${WEB_PORT}"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - .:/app

volumes:
  postgres_data:
